[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "opa"]
	path = opa
	url = https://github.com/timbeechey/opa
	shallow = true
	registered = true
