[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clubpro"]
	path = clubpro
	url = https://github.com/timbeechey/clubpro
[submodule "opa"]
	path = opa
	url = https://github.com/timbeechey/opa
